/*

  Theme Name: Ariflaw
  Theme Owner: Ariflaw
  Theme URI: www.ariflaw.com
  Description: Responsive Personal Wordpress Blog by LAMPU THEMES
  Author: LAMPU
  Author URI: http://www.lamputhemes.com/
  License: GNU General Public License version 3.0
  License URI: http://www.gnu.org/licenses/gpl-3.0.html
  Version: 1.0
  Tags: white, editor-style, custom-menu, two-columns
  Web: http://wwww.lamputhemes.com

  Provided by LAMPU (web solutions co.) for ThemeForest.net
  All files, unless otherwise stated, are released
  under the GNU General Public License version 3.0
  http://www.gnu.org/licenses/gpl-3.0.html

*/

// Import
// // // // // // // // // //
@import "bourbon/bourbon";
@import "asset/variabel";

// Import Typograpy
@import "asset/typograpy";

@import "asset/wordpress_style";

// Import style Homepage
@import "asset/home/home";
@import "asset/home/postformat";
@import "asset/home/pagination";
@import "asset/home/page_not_found";
@import "asset/home/sidebar_home";

// Import style Post
@import "asset/post/posts";
@import "asset/post/author_info";
@import "asset/post/comment";
@import "asset/post/form_comment";
@import "asset/post/content";
@import "asset/post/navigation";
@import "asset/post/sidebar";
@import "asset/post/typograpy";

// Import style Page
@import "asset/page/page";

// Import style widget
@import "asset/widget/widgets";
@import "asset/widget/tag_cloud";
@import "asset/widget/search";
@import "asset/widget/calendar";


/* --------------------------------------------------------------
    Component
-------------------------------------------------------------- */

p{
  padding-bottom: 15px;
  line-height: 30px;
}

.site-title{
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(212, 212, 212, 0.63);

  a{
    color: rgba(52, 152, 219, 0.79);
    position: relative;
    top: 5px;
  }
}



/* --------------------------------------------------------------
    Header Nav
-------------------------------------------------------------- */
#header{
  background: $w;
  color: $main-c;
  width: 100%;
  box-shadow: 0px 0px 6px 2px #EAEAEA;
  margin-bottom: 2px;

}

#nav{
  width: 100%;
  margin: 0px auto;
  text-align: center;

    h1{
      margin: 0;
      line-height: 2.2;
      text-transform: uppercase;
      font-size: 34px;
      cursor: pointer;
      a{
        color: $main-c;
      }
    }

  .nav-menu{
    color: $w;

    & > li{
      margin: 0;
      padding: 0;

      & > a{
        font-weight: 300;
        color: $main-c;
        margin: 0;
        padding: 0 20px;
        text-transform: uppercase;
        line-height: 75px;
        border-left: 1px solid #F6F8F8;
        @include transition(all 0.3s ease);


        &:hover, &:focus, &:active{
          background-color: $hover;
          color: #fff;
          @include transition(all 0.3s ease);
        }
      }
    }
  }
  .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background-color: $hover;
    border-color: transparent;
    color: #fff
  }
}

.navbar-nav > li > .dropdown-menu{
  border-radius: none;
  box-shadow: none;
  padding: 0;
}

.navbar-nav{

  .dropdown-menu{
    border: none;
    box-shadow: none;
    padding: 0;
    background: #3498DB;
    border-radius: 0;
  }

  .dropdown-menu > li {
    padding: 0;
    margin: 0 0;
    background: $main-c;

    & > a{
      color: $w;
      padding: 12px 40px 12px 15px;
      font-size: 18px;
      font-weight: 300;

      &:hover, &:focus, &:active{
        background: $hover;
        @include transition(all 0.3s ease);
      }
    }
  }
}
.navbar-nav ul .dropdown-menu {
  margin-top: -45px !important;
}
.navbar-toggle{
  margin-top: 15px;
  border: 1px solid $main-c;
}
.navbar-toggle .icon-bar{
  background: $main-c;
  width: 24px;
}

@media screen and(max-width: 800px){
  #nav .nav-menu > li > a{
    font-size: 16px;
    padding: 0 15px;
  }

  #nav h1{
    line-height: 1.8;
  }

}


// ---------------------
.sb-search {
  position: relative;
  margin-top: 10px;
  width: 0%;
  min-width: 60px;
  height: 60px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}

.sb-search-input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 100%;
  height: 60px;
  margin: 0;
  z-index: 10;
  padding: 20px 65px 20px 20px;
  font-family: inherit;
  font-size: 20px;
  color: #2c3e50;
}

input[type="search"].sb-search-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.sb-search-input::-webkit-input-placeholder {
  color: #efb480;
}

.sb-search-input:-moz-placeholder {
  color: #efb480;
}

.sb-search-input::-moz-placeholder {
  color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
  color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.sb-search-submit {
  background: #fff; /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.sb-icon-search {
  color: #fff;
  background: #e67e22;
  z-index: 90;
  font-size: 22px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #da6d0d;
  color: #fff;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}


/* --------------------------------------------------------------
      Sidebar
-------------------------------------------------------------- */

  #sidebar{
    padding-left: 25px;

    .category{

      ul {
        list-style-type: none;
        padding: 20px 0;
        margin: 0;
      }
    }
  }
 /* End Content */


@import "asset/footer";
@import "asset/bootstrap_grid_clearfix";

// Include Other CSS
@import "smartmenus.bootstrap";
@import "slick";

@import "asset/home/media_query_home";
