#content-home{
  background: $bg;
  padding: 60px 0;

  .content-article{
    max-width: 750px;
  }

  .posts{
    list-style-type: none;
    padding: 0;
    margin: 0;

    .item.item-sticky{
      width: 93.5%;
    }

    .item{
      position: relative;
      display: inline-block;
      width: 45%;
      float: left;
      margin: 0 25px 25px 0px;
      vertical-align: top;

      .main-article{
        position: relative;
        font-size: 15px;
        padding: 10px 25px 25px;
        box-shadow: $b-s;
        @include border-top-radius(3px);
        @include border-bottom-radius(3px);
        height: 100%;
        background: $w;
        overflow: hidden;

        &::after{
          content: "";
          position: absolute;
          bottom: 100px;
          left: 0;
          height: 100px;
          width: 100%;
          z-index: 0;
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);
          @include transition(all 0.3s ease);
        }

        &:hover::after{
          height: 100%;
          @include transition(all 0.3s ease);
        }

        // Style Image Thumbnail
        .image-thumbnail{
          margin-right: -25px;
          margin-left: -25px;
          margin-top: -10px;

            img{
              width: 100%;
              height: auto;
              opacity: 0.8;
              z-index: 1;
            }
        }
      }
    }
  }
} //end content-home

.entry-article{
  font-size: 15px;

  p{
    line-height: 24px;
    font-weight: 300;
    margin: 0;
  }
}

.entry-info{
  position: relative;
  z-index: 2;
  height: 100px;
  margin: 0px -25px -30px -25px;
  padding: 20px 25px;
  background: rgba(246, 246, 246, 0.34);

  .img-entry-info{
    float: left;
    margin-right: 15px;

    img{
      @include border-top-radius(50%);
      @include border-bottom-radius(50%);
    }
  }

  .entry-time{
    font-size: 13px;
    float: left;
    line-height: 34px;
    color: $b;

    span{
      color: rgba(51, 51, 51, 0.68);
      display: block;
      margin: -5px 0 0;
      line-height: 1;
    }
  }

  .comment_show_home{
    float: right;
    font-size: 15px;

    a{
        color: rgba(32, 121, 153, 0.89);

      i{
        padding-right: 5px;
      }

      p{
        line-height: 55px;
        margin: 0;
        padding: 0;
      }
    }
  } //.comment_show_home
} //.entry-info

// Style Tile Article
.title-post{
  position: relative;
  line-height: 28px;
  z-index: 1;
  font-family: "Josefin Sans", "Open Sans", sans-serif, arial;
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 600;

  a{
    text-transform: capitalize;
    color: rgba(67, 67, 67, 1);
    @include transition(all 0.3s);


    &:hover{
      color: $hover;
    }
  }
} //.title-post





