
/* --------------------------------------------------------------
    Responsive
-------------------------------------------------------------- */

@media screen and (max-width: 600px){
  #content-home .posts li.item,
  #content-home .posts .item.item-sticky{
    width: 100%;
  }
}

@media screen and(max-width: 800px){
  #content-home .posts li.item{
    margin: 0px 15px 30px 15px;
  }
}

@media screen and(max-width: 768px){
    #sidebar-home{
      margin-left: 0;
      margin-right: 0;
    }
}

@media screen and(max-width: 640px){
 #content-home .posts li.item{
    margin: 0px 12px 30px;
  }
}

@media screen and(max-width: 600px){
 #content-home .posts li.item{
    margin: 0px 0px 30px;
  }

  .custom-pagination{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and(max-width: 480px){

  .custom-pagination{
    margin-bottom: 30px;
  }

  .custom-pagination span,
  .custom-pagination ul{
    float: none;
  }

  .custom-pagination ul{
    margin-top: 15px;
  }
}
