

/* --------------------------------------------------------------
    Custom Pagination
-------------------------------------------------------------- */

.custom-pagination{
  border-top: 1px solid rgba(218, 218, 218, 0.25);
  padding: 15px 0;
  margin-right: 50px;
  height: 80px;
  display: list-item;
  list-style-type: none;

  span.page-num{
    padding: 6px 12px;
    background: #fff;
    border-radius: 3px;
    color: rgba(57, 133, 197, 0.76);
    box-shadow: $b-s;
    font-size: 16px;
  }
  span{
    float: left;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;

    li{
      display: inline-flex;
      padding: 0;
      margin: 0;

      span.current{
        display: inline-flex;
        padding: 6px 12px;
        background: #FFFFFF;
        vertical-align: middle;
        background: #3498DB;
        color: $w;
        box-shadow: $b-s;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        font-weight: 300;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
      }

      a.page-numbers{
        display: inline-flex;
        padding: 6px 12px;
        background: #FFFFFF;
        vertical-align: middle;
        box-shadow: $b-s;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        font-weight: 300;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;

        &:hover{
          color: $w;
          background: $main-c;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -ms-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease;
        }
      }
    }
  }
}
