

/* --------------------------------------------------------------
    PAGE NOT FOUND
-------------------------------------------------------------- */

// Masonry Style Fix Height Responsive
body.error404 .content-article .posts,
body.search-no-results .content-article .posts{
  height: auto !important;
}

.no-result{
  font-weight: 300;
  background: $w;
  padding: 30px 40px 40px ;
  box-shadow: $b-s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

  h2{
    font-size: 36px;
    font-weight: 300;
  }
}

@media screen and(min-width: 900px){
  .no-result{
    margin-right: 30px;
  }
}
