/* --------------------------------------------------------------
    Content Style Post Format Blogquote
-------------------------------------------------------------- */

// BLOCKQUOTE
.quote-content{
  position: relative;
  font-size: 15px;
  padding: 10px 25px 25px;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 100%;
  color: $w;
  background: #19B5FE;
  overflow: hidden;

  .entry-article-quote{
    padding: 10px 10px 30px;

    blockquote{
      border-left: none;
      padding: 0;
      margin: 0;
      position: relative;

      &::before{
        font-family: "icomoon";
        content: '\e676';
        position: relative;
        top: 5px;
        left: 42%;
        font-size: 28px;
        font-style: normal;
      }

      p{
        line-height: 30px;
        font-size: 26px;
        margin: 15px 0 5px;
        font-weight: 400;
        font-family: "Josefin Sans", "Open Sans", arial, sans-serif;
        text-transform: capitalize;

        a{
          padding-top: 5px;
          color: rgba(55, 55, 55, 0.44);
          float: right;
        }
      }
    } //blockquote

    .author_quote{
      font-family: "Josefin Sans", "Open Sans", sans-serif, arial;
      font-size: 22px;
      text-align: right;
      float: right;
      position: relative;
      top: 0px;
      right: -5px;
      font-weight: 300;
      font-style: italic;
    } // .author_quote
  } //.entry-article-quote
} //.quote-content


/* --------------------------------------------------------------
    Post Fotmat Audio
-------------------------------------------------------------- */
.main-article-audio{
  background: $w;
  position: relative;
  padding: 10px 25px 25px;
  overflow: hidden;
  box-shadow: $b-s;

  h3{
    margin: 20px 0;

    a{
      color: $b;
      text-transform: capitalize;
      @include transition(all 0.3s ease);
    }
  }

  .entry-article{
    margin-left: -25px;
    margin-right: -24px;
    margin-top: -10px;
    font-size: 15px;

    iframe{
      width: 100%;
      min-height: 300px;
      height: auto;
    }

    p{
      line-height: 24px;
      font-weight: 300;
      margin: 0;
      padding: 0 25px 10px;
    }
  }
}

/* --------------------------------------------------------------
    Gallery
-------------------------------------------------------------- */
.main-article-gallery{
  background: $w;
  position: relative;
  padding: 10px 25px 25px;
  box-shadow: $b-s;

  .gallery-home{
    overflow: hidden;
    margin: -10px -25px 0;
    @include border-top-radius(3px);

    .gallery-item{

      img{
        width: 100%;
        @include border-top-radius(3px);
      }
    }

    &:hover button.slick-prev, &:hover button.slick-next{
      opacity: 1;
      @include transition(opacity, all 0.32s ease);
    }

  }
}

button.slick-prev, button.slick-next{
  width: 35px;
  height: 35px;
  background: $main-c;
  color: $w;
  opacity: 0;
  @include transition(opacity, all 0.32s ease);

  &:hover{
    @include transition(opacity, all 0.32s ease);
    opacity: 1;
    background: $main-c;
  }
  &::before{
    font-family: "icomoon";
    font-size: 16px;
    font-weight: 300;
  }
}

button.slick-prev{
  left: 0px;

  &::before{
    content: '\e72e';
    opacity: 1;

    &:focus{
      opacity: 0;
    }
  }
}

button.slick-next{
  right: 0px;

  &::before{
    content: '\e72a';
    opacity: 1;
  }

  &:focus{
    opacity: 0;
  }
}


/* --------------------------------------------------------------
    Post Format Link
-------------------------------------------------------------- */
.main-article-link{
  background: $w;
  position: relative;
  padding: 10px 25px 25px;
  box-shadow: $b-s;
  @include border-top-radius(3px);
}

.link-home {
  padding: 30px 30px 25px;
  background-color: #37474F;
  color: $w;
  margin: -10px -25px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  line-height: 30px;
  word-wrap: break-word;
  @include border-top-radius(3px);

  i{
    position: relative;
    left: 42%;
    top: -5px;
    font-size: 40px;
  }
}

.format-link {
  .title-post{
    margin-bottom: -10px;
  }
  .entry-article{
    padding-top: 10px;
  }
}

/* --------------------------------------------------------------
    Post Format Video
-------------------------------------------------------------- */
.main-article-video{
  background: $w;
  position: relative;
  padding: 10px 25px 25px;
  box-shadow: $b-s;
  // overflow: hidden;
}

.post_format_video{
  margin: -10px -25px 0;
  overflow: hidden;

  iframe{
    width: 100%;
    height: auto;
    min-height: 250px;
  }
}
