

/* --------------------------------------------------------------
    SIDEBAR HOME
-------------------------------------------------------------- */
#sidebar-home{
  background: $w;
  padding: 15px 30px 0px;
  box-shadow: $b-s;
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
  overflow: hidden;
}
