@charset "UTF-8";
/*

  Theme Name: Ariflaw
  Theme Owner: Ariflaw
  Theme URI: www.ariflaw.com
  Description: Responsive Personal Wordpress Blog by LAMPU THEMES
  Author: LAMPU
  Author URI: http://www.lamputhemes.com/
  License: GNU General Public License version 3.0
  License URI: http://www.gnu.org/licenses/gpl-3.0.html
  Version: 1.0
  Tags: white, editor-style, custom-menu, two-columns
  Web: http://wwww.lamputhemes.com

  Provided by LAMPU (web solutions co.) for ThemeForest.net
  All files, unless otherwise stated, are released
  under the GNU General Public License version 3.0
  http://www.gnu.org/licenses/gpl-3.0.html

*/
/* --------------------------------------------------------------
      Main Style
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  position: relative;
  padding: 0;
  margin: 0;
  text-rendering: optimizelegibility;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* --------------------------------------------------------------
      3 - Link
-------------------------------------------------------------- */
a, a:visited {
  text-decoration: none;
  outline: 0;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

a:hover, a:focus {
  color: #3498DB;
  text-decoration: none;
  outline: 0 none;
}

p a, p a:visited {
  line-height: inherit;
}

/* --------------------------------------------------------------
      4 - List
-------------------------------------------------------------- */
ul, ol {
  margin-bottom: 24px;
  margin-top: 12px;
}

ul {
  list-style: none outside;
}

ol {
  list-style: decimal;
}

ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

ul.square {
  list-style: square outside;
}

ul.circle {
  list-style: circle outside;
}

ul.disc {
  list-style: disc outside;
}

ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px;
}

li {
  line-height: 18px;
  margin-bottom: 12px;
}

/* --------------------------------------------------------------
    Wordpress Style
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #efefef;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 0 0 8px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 8px;
}

.sticky {
  display: block;
}

.gallery-caption {
  display: block;
}

.bypostauthor {
  display: block;
}

.gallery {
  padding: 0;
  clear: both;
  margin: 0 auto 18px;
}
.gallery::after, .gallery::before {
  content: '';
  clear: both;
  visibility: hidden;
  display: block;
  height: 0;
}
.gallery .gallery-item {
  float: left;
  padding: 2px;
  position: relative;
}
.gallery .gallery-item img {
  width: 100%;
}
.gallery .gallery-item::before, .gallery .gallery-item::after {
  content: '';
  clear: both;
  visibility: hidden;
  display: block;
  height: 0;
}
.gallery .gallery-item figcaption {
  display: block;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #333333;
  background: rgba(251, 251, 251, 0.8);
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  -webkit-transition: all 0.32s ease;
  -moz-transition: all 0.32s ease;
  transition: all 0.32s ease;
}
.gallery .gallery-item:hover figcaption {
  -webkit-transition: all 0.32s ease;
  -moz-transition: all 0.32s ease;
  transition: all 0.32s ease;
  opacity: 1;
}

.gallery-columns-0 .gallery-item {
  width: 100%;
}

.gallery-columns-1 .gallery-item {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

@media screen and (max-width: 600px) {
  .gallery-columns-3 .gallery-item,
  .gallery-columns-4 .gallery-item,
  .gallery-columns-5 .gallery-item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .gallery-columns-3 .gallery-item,
  .gallery-columns-4 .gallery-item,
  .gallery-columns-5 .gallery-item {
    width: 100%;
  }
}
#content-home {
  background: #f6f8f8;
  padding: 60px 0;
}
#content-home .content-article {
  max-width: 750px;
}
#content-home .posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#content-home .posts .item.item-sticky {
  width: 93.5%;
}
#content-home .posts .item {
  position: relative;
  display: inline-block;
  width: 45%;
  float: left;
  margin: 0 25px 25px 0px;
  vertical-align: top;
}
#content-home .posts .item .main-article {
  position: relative;
  font-size: 15px;
  padding: 10px 25px 25px;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 100%;
  background: #FFFFFF;
  overflow: hidden;
}
#content-home .posts .item .main-article::after {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#content-home .posts .item .main-article:hover::after {
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#content-home .posts .item .main-article .image-thumbnail {
  margin-right: -25px;
  margin-left: -25px;
  margin-top: -10px;
}
#content-home .posts .item .main-article .image-thumbnail img {
  width: 100%;
  height: auto;
  opacity: 0.8;
  z-index: 1;
}

.entry-article {
  font-size: 15px;
}
.entry-article p {
  line-height: 24px;
  font-weight: 300;
  margin: 0;
}

.entry-info {
  position: relative;
  z-index: 2;
  height: 100px;
  margin: 0px -25px -30px -25px;
  padding: 20px 25px;
  background: rgba(246, 246, 246, 0.34);
}
.entry-info .img-entry-info {
  float: left;
  margin-right: 15px;
}
.entry-info .img-entry-info img {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.entry-info .entry-time {
  font-size: 13px;
  float: left;
  line-height: 34px;
  color: #333333;
}
.entry-info .entry-time span {
  color: rgba(51, 51, 51, 0.68);
  display: block;
  margin: -5px 0 0;
  line-height: 1;
}
.entry-info .comment_show_home {
  float: right;
  font-size: 15px;
}
.entry-info .comment_show_home a {
  color: rgba(32, 121, 153, 0.89);
}
.entry-info .comment_show_home a i {
  padding-right: 5px;
}
.entry-info .comment_show_home a p {
  line-height: 55px;
  margin: 0;
  padding: 0;
}

.title-post {
  position: relative;
  line-height: 28px;
  z-index: 1;
  font-family: "Josefin Sans", "Open Sans", sans-serif, arial;
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 600;
}
.title-post a {
  text-transform: capitalize;
  color: #434343;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.title-post a:hover {
  color: #308DCB;
}

/* --------------------------------------------------------------
    Content Style Post Format Blogquote
-------------------------------------------------------------- */
.quote-content {
  position: relative;
  font-size: 15px;
  padding: 10px 25px 25px;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 100%;
  color: #FFFFFF;
  background: #19B5FE;
  overflow: hidden;
}
.quote-content .entry-article-quote {
  padding: 10px 10px 30px;
}
.quote-content .entry-article-quote blockquote {
  border-left: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.quote-content .entry-article-quote blockquote::before {
  font-family: "icomoon";
  content: '\e676';
  position: relative;
  top: 5px;
  left: 42%;
  font-size: 28px;
  font-style: normal;
}
.quote-content .entry-article-quote blockquote p {
  line-height: 30px;
  font-size: 26px;
  margin: 15px 0 5px;
  font-weight: 400;
  font-family: "Josefin Sans", "Open Sans", arial, sans-serif;
  text-transform: capitalize;
}
.quote-content .entry-article-quote blockquote p a {
  padding-top: 5px;
  color: rgba(55, 55, 55, 0.44);
  float: right;
}
.quote-content .entry-article-quote .author_quote {
  font-family: "Josefin Sans", "Open Sans", sans-serif, arial;
  font-size: 22px;
  text-align: right;
  float: right;
  position: relative;
  top: 0px;
  right: -5px;
  font-weight: 300;
  font-style: italic;
}

/* --------------------------------------------------------------
    Post Fotmat Audio
-------------------------------------------------------------- */
.main-article-audio {
  background: #FFFFFF;
  position: relative;
  padding: 10px 25px 25px;
  overflow: hidden;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
}
.main-article-audio h3 {
  margin: 20px 0;
}
.main-article-audio h3 a {
  color: #333333;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-article-audio .entry-article {
  margin-left: -25px;
  margin-right: -24px;
  margin-top: -10px;
  font-size: 15px;
}
.main-article-audio .entry-article iframe {
  width: 100%;
  min-height: 300px;
  height: auto;
}
.main-article-audio .entry-article p {
  line-height: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0 25px 10px;
}

/* --------------------------------------------------------------
    Gallery
-------------------------------------------------------------- */
.main-article-gallery {
  background: #FFFFFF;
  position: relative;
  padding: 10px 25px 25px;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
}
.main-article-gallery .gallery-home {
  overflow: hidden;
  margin: -10px -25px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.main-article-gallery .gallery-home .gallery-item img {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.main-article-gallery .gallery-home:hover button.slick-prev, .main-article-gallery .gallery-home:hover button.slick-next {
  opacity: 1;
  -webkit-transition: opacity, all 0.32s ease;
  -moz-transition: opacity, all 0.32s ease;
  transition: opacity, all 0.32s ease;
}

button.slick-prev, button.slick-next {
  width: 35px;
  height: 35px;
  background: #3498DB;
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition: opacity, all 0.32s ease;
  -moz-transition: opacity, all 0.32s ease;
  transition: opacity, all 0.32s ease;
}
button.slick-prev:hover, button.slick-next:hover {
  -webkit-transition: opacity, all 0.32s ease;
  -moz-transition: opacity, all 0.32s ease;
  transition: opacity, all 0.32s ease;
  opacity: 1;
  background: #3498DB;
}
button.slick-prev::before, button.slick-next::before {
  font-family: "icomoon";
  font-size: 16px;
  font-weight: 300;
}

button.slick-prev {
  left: 0px;
}
button.slick-prev::before {
  content: '\e72e';
  opacity: 1;
}
button.slick-prev::before:focus {
  opacity: 0;
}

button.slick-next {
  right: 0px;
}
button.slick-next::before {
  content: '\e72a';
  opacity: 1;
}
button.slick-next:focus {
  opacity: 0;
}

/* --------------------------------------------------------------
    Post Format Link
-------------------------------------------------------------- */
.main-article-link {
  background: #FFFFFF;
  position: relative;
  padding: 10px 25px 25px;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.link-home {
  padding: 30px 30px 25px;
  background-color: #37474F;
  color: #FFFFFF;
  margin: -10px -25px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  line-height: 30px;
  word-wrap: break-word;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.link-home i {
  position: relative;
  left: 42%;
  top: -5px;
  font-size: 40px;
}

.format-link .title-post {
  margin-bottom: -10px;
}
.format-link .entry-article {
  padding-top: 10px;
}

/* --------------------------------------------------------------
    Post Format Video
-------------------------------------------------------------- */
.main-article-video {
  background: #FFFFFF;
  position: relative;
  padding: 10px 25px 25px;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
}

.post_format_video {
  margin: -10px -25px 0;
  overflow: hidden;
}
.post_format_video iframe {
  width: 100%;
  height: auto;
  min-height: 250px;
}

/* --------------------------------------------------------------
    Custom Pagination
-------------------------------------------------------------- */
.custom-pagination {
  border-top: 1px solid rgba(218, 218, 218, 0.25);
  padding: 15px 0;
  margin-right: 50px;
  height: 80px;
  display: list-item;
  list-style-type: none;
}
.custom-pagination span.page-num {
  padding: 6px 12px;
  background: #fff;
  border-radius: 3px;
  color: rgba(57, 133, 197, 0.76);
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
  font-size: 16px;
}
.custom-pagination span {
  float: left;
}
.custom-pagination ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
.custom-pagination ul li {
  display: inline-flex;
  padding: 0;
  margin: 0;
}
.custom-pagination ul li span.current {
  display: inline-flex;
  padding: 6px 12px;
  background: #FFFFFF;
  vertical-align: middle;
  background: #3498DB;
  color: #FFFFFF;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-weight: 300;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.custom-pagination ul li a.page-numbers {
  display: inline-flex;
  padding: 6px 12px;
  background: #FFFFFF;
  vertical-align: middle;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-weight: 300;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.custom-pagination ul li a.page-numbers:hover {
  color: #FFFFFF;
  background: #3498DB;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* --------------------------------------------------------------
    PAGE NOT FOUND
-------------------------------------------------------------- */
body.error404 .content-article .posts,
body.search-no-results .content-article .posts {
  height: auto !important;
}

.no-result {
  font-weight: 300;
  background: #FFFFFF;
  padding: 30px 40px 40px;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.no-result h2 {
  font-size: 36px;
  font-weight: 300;
}

@media screen and (min-width: 900px) {
  .no-result {
    margin-right: 30px;
  }
}
/* --------------------------------------------------------------
    SIDEBAR HOME
-------------------------------------------------------------- */
#sidebar-home {
  background: #FFFFFF;
  padding: 15px 30px 0px;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}

/* --------------------------------------------------------------
    CONTENT SINGLE PAGE
-------------------------------------------------------------- */
#content {
  padding: 60px 0 60px;
  background: #f6f8f8;
  /* --------------------------------------------------------------
      Article
  -------------------------------------------------------------- */
}
#content .content-post {
  padding: 40px 40px 60px;
  background: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
}
#content .content-post .post {
  padding-right: 30px;
  overflow: hidden;
}
#content .content-post .has-post-thumbnail img.attachment-post-thumbnail {
  width: 100%;
  height: auto;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#content .content-post #sidebar-home {
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.04);
  border-radius: 0px;
  margin-left: -5px;
}
#content .content-post h2.post-title {
  font-weight: 600;
  color: rgba(51, 51, 51, 0.91);
  line-height: 32px;
  font-family: "Josefin Sans", sans-serif, arial;
  font-size: 3.2rem;
}
#content .content-post .meta-info {
  font-size: 15px;
  text-transform: uppercase;
  margin-top: -20px;
  padding-bottom: 30px;
}
#content .content-post .meta-info ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#content .content-post .meta-info ul li {
  display: inline-block;
  margin: 10px 0 5px;
  padding-left: 15px;
  position: relative;
  font-weight: 300;
  font-size: 14px;
}
#content .content-post .meta-info ul li i {
  color: #636363;
}
#content .content-post .meta-info ul li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: rgba(99, 99, 99, 0.64);
  right: -10px;
  top: 4px;
}
#content .content-post .meta-info ul li:last-child::after {
  display: none;
}
#content .content-post .meta-info ul li:nth-child(1) {
  padding-left: 0px;
}
#content .content-post hr {
  border-top: 1px solid rgba(232, 232, 232, 0.42);
}

/* --------------------------------------------------------------
    Post Format Video Style
-------------------------------------------------------------- */
.show_video iframe, .show_video object {
  width: 100%;
  height: auto;
  min-height: 400px;
}

/* --------------------------------------------------------------
    Post Format Image
-------------------------------------------------------------- */
.single-format-image #content .content-post .post {
  overflow: visible;
}

.single-format-image .content {
  overflow: hidden;
}

#content .featured-image {
  position: relative;
  margin-bottom: 30px;
}
#content .featured-image:hover .meta-info {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}
#content .featured-image img {
  width: 100%;
  height: auto;
}
#content .featured-image .meta-info {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 25px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#content .featured-image .meta-info .post-title {
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}
#content .featured-image .meta-info ul li i, #content .featured-image .meta-info ul li a {
  color: #FFFFFF;
}

/* --------------------------------------------------------------
    Post Format Post Link
-------------------------------------------------------------- */
.link_preview {
  padding: 50px 20px 20px;
  margin-bottom: 20px;
  background: #67A8D7;
  border-radius: 3px;
  font-size: 28px;
  text-align: center;
}
.link_preview i {
  text-align: center;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  color: #fff;
}
.link_preview a {
  color: #FFFFFF;
}

/* --------------------------------------------------------------
    Author Post Info
-------------------------------------------------------------- */
.author_post_info {
  padding: 30px 0 20px;
  display: block;
}
.author_post_info img.avatar {
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 3px solid #fff;
}
.author_post_info .des_author {
  display: block;
  padding-left: 115px;
  margin-top: -5px;
}
.author_post_info .des_author span {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.59);
}
.author_post_info .des_author span.name_author_post {
  color: #3498DB;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 5px;
}
.author_post_info .des_author p.desc_author_post {
  line-height: 20px;
  font-size: 16px;
  font-weight: 300;
  padding: 2px 0 20px 0px;
  margin: 0;
}
.author_post_info .author_follow .author_follow_twitter,
.author_post_info .author_follow .author_follow_google,
.author_post_info .author_follow .author_follow_facebook {
  border: none;
  outline: none;
  padding: 6px 15px 10px;
  margin: 3px 0;
  color: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.32s ease;
  -moz-transition: all 0.32s ease;
  transition: all 0.32s ease;
}
.author_post_info .author_follow .author_follow_twitter i,
.author_post_info .author_follow .author_follow_google i,
.author_post_info .author_follow .author_follow_facebook i {
  padding-right: 10px;
  font-weight: 400;
  position: relative;
  top: 4px;
  font-size: 18px;
}
.author_post_info .author_follow .author_follow_twitter {
  background: #55ACEE;
}
.author_post_info .author_follow .author_follow_google {
  background: #CC3732;
}
.author_post_info .author_follow .author_follow_facebook {
  background: #3B5998;
}
.author_post_info .author_follow .author_follow_twitter:hover,
.author_post_info .author_follow .author_follow_google:hover,
.author_post_info .author_follow .author_follow_facebook:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-transition: all 0.32s ease;
  -moz-transition: all 0.32s ease;
  transition: all 0.32s ease;
}

/* --------------------------------------------------------------
    COMMENT STYLE
-------------------------------------------------------------- */
#comments {
  margin-top: 20px;
  margin-right: 30px;
  border-top: 1px solid rgba(238, 238, 238, 0.65);
}

ol.commentlist {
  list-style: none;
  margin: 0;
  padding: 30px;
  text-indent: 0;
}
ol.commentlist li {
  padding: 0;
}
ol.commentlist li .comment-meta img {
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #fff;
}
ol.commentlist li .comment-meta .comment-meta-content {
  line-height: 2;
}
ol.commentlist li .comment-meta .comment-meta-content cite {
  font-weight: 300;
  padding-left: 80px;
  display: block;
  margin-bottom: -12px;
  font-style: normal;
}
ol.commentlist li .comment-meta .comment-meta-content cite .fn {
  font-weight: 600;
}
ol.commentlist li .comment-meta .comment-meta-content time {
  padding-left: 20px;
  font-weight: 300;
}
ol.commentlist article.comment {
  border-bottom: 1px solid #eee;
  padding-bottom: 40px;
}
ol.commentlist ol.children {
  list-style-type: none;
  padding-bottom: 40px;
  padding-top: 40px;
}
ol.commentlist .comment-content {
  padding: 20px 0 0;
  clear: both;
}
ol.commentlist .comment-content p {
  font-weight: 300;
}
ol.commentlist .edit_link {
  margin: 0;
  font-size: 15px;
}
ol.commentlist .replay {
  font-size: 14px;
  font-weight: 300;
  background: #3498DB;
  width: 70px;
  padding: 4px 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
ol.commentlist .replay i, ol.commentlist .replay a {
  color: #FFFFFF;
}
ol.commentlist span.comment-author {
  font-size: 12px;
  text-transform: uppercase;
  background: #3498DB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 6px;
  color: #fff;
  font-weight: 400;
  position: relative;
  bottom: 2px;
  left: 5px;
}

/* --------------------------------------------------------------
    Comments Form Style
-------------------------------------------------------------- */
#commentform {
  font-weight: 300;
  font-size: 16px;
}
#commentform p {
  padding: 5px 0;
  margin: 0;
}
#commentform p label {
  display: block;
  font-weight: 300;
  font-size: 18px;
}
#commentform p input, #commentform p textarea {
  border: 1px solid rgba(204, 204, 204, 0.72);
  padding: 8px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 65%;
}
#commentform p input:focus, #commentform p input:active, #commentform p textarea:focus, #commentform p textarea:active {
  border: 1px solid #3498DB;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#commentform p textarea {
  height: 250px;
  width: 100%;
}
#commentform .comment-notes {
  padding-bottom: 20px;
}
#commentform .form-allowed-tags {
  font-size: 14px;
  padding: 20px;
  margin: 15px 0 10px;
  background: rgba(204, 204, 204, 0.23);
  line-height: 22px;
  box-shadow: 2px 2px 4px 0px #ececec;
}
#commentform .form-allowed-tags code {
  background-color: transparent;
  color: #3498DB;
}
#commentform .form-submit input {
  background: #3498DB;
  color: #FFFFFF;
  border: none;
  outline: none;
  width: auto;
  box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
  font-weight: 400;
}
#commentform .form-submit input:focus, #commentform .form-submit input:active {
  outline: none;
  border: none;
}

/* --------------------------------------------------------------
    Password Post Design
-------------------------------------------------------------- */
.post-password-form label {
  font-weight: 400;
  font-size: 28px;
}
.post-password-form label input[type="password"] {
  border-radius: 2px;
  border: 1px solid #CDCDCD;
  padding: 3px 15px;
  width: 350px;
}
.post-password-form label input[type="password"]:focus, .post-password-form label input[type="password"]:active {
  border: 1px solid #3498DB;
  outline: 0;
}
.post-password-form input[type="submit"] {
  border: none;
  padding: 8px 15px;
  vertical-align: top;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #3498DB;
  color: #FFFFFF;
}
.post-password-form input[type="submit"]:active, .post-password-form input[type="submit"]:focus {
  outline: none;
}

/* --------------------------------------------------------------
    Tags
-------------------------------------------------------------- */
.tags_post {
  margin: 0;
  padding: 30px 0;
  list-style-type: none;
  clear: both;
}
.tags_post h2.title_tags {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.tags_post li {
  display: inline-block;
  margin: 15px 2px 2px;
  padding: 0;
}
.tags_post li a {
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 1px solid #3498DB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tags_post li a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #3498DB;
  color: #FFFFFF;
}

/* --------------------------------------------------------------
    Image Caption
-------------------------------------------------------------- */
.wp-caption-text {
  font-size: 12px;
  padding-top: 10px;
}

/* --------------------------------------------------------------
    Post Navigation
-------------------------------------------------------------- */
.post_navigation {
  padding: 20px 15px 0;
  border-top: 1px solid #F3F3F3;
  margin-top: 30px;
  margin-right: 30px;
}
.post_navigation .alignleft_post,
.post_navigation .alignright_post {
  position: relative;
  text-align: center;
}
.post_navigation .alignleft_post i,
.post_navigation .alignright_post i {
  font-weight: 300;
  color: rgba(51, 51, 51, 0.61);
  font-size: 32px;
}
.post_navigation .alignleft_post span,
.post_navigation .alignright_post span {
  display: inline-block;
}
.post_navigation .alignleft_post span a,
.post_navigation .alignright_post span a {
  color: #3D3D3D;
  font-weight: 300;
}
.post_navigation .alignleft_post span:hover a, .post_navigation .alignleft_post span:hover i,
.post_navigation .alignright_post span:hover a,
.post_navigation .alignright_post span:hover i {
  color: #3498DB;
}
.post_navigation .alignleft_post i {
  float: left;
  padding-right: 5px;
}
.post_navigation .alignleft_post span {
  display: inline-block;
}
.post_navigation .alignright_post i {
  float: right;
  padding-left: 15px;
}
.post_navigation .alignright_post span {
  display: inline-block;
}

/* --------------------------------------------------------------
    Single Sidebar
-------------------------------------------------------------- */
.single #content #sidebar-home {
  padding: 15px 15px 0px 40px;
  margin-left: -15px;
}

/* --------------------------------------------------------------
    Typography Post
-------------------------------------------------------------- */
.content {
  font-size: 18px;
  font-weight: 300;
}
.content b, .content strong {
  font-weight: 600;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  text-transform: capitalize;
  font-weight: 600;
  margin: 25px auto;
}
.content h1 {
  font-size: 36px;
}
.content h2 {
  font-size: 32px;
}
.content h3 {
  font-size: 24px;
}
.content h4 {
  font-size: 18px;
}
.content h5 {
  font-size: 16px;
}
.content h6 {
  font-size: 14px;
}
.content blockquote {
  padding: 10px 20px 10px 40px;
  margin: 0px 0 20px;
  font-size: 17.5px;
  border-left: 5px solid rgba(52, 152, 219, 0.53);
  font-style: italic;
  position: relative;
}
.content blockquote p {
  line-height: 32px;
  font-size: 22px;
}
.content blockquote::before {
  font-family: "icomoon";
  content: '\e676';
  position: absolute;
  font-size: 20px;
  top: -5px;
  left: 16px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.64);
}
.content p {
  color: #333;
}
.content table thead {
  background: rgba(204, 204, 204, 0.52);
  color: rgba(51, 51, 51, 0.89);
}
.content table thead tr > th, .content table thead tr > td {
  border: 1px solid rgba(204, 204, 204, 0.52);
  text-align: left;
  padding: 10px 15px;
  line-height: 1.2;
  font-weight: 600;
}
.content table tbody tr:nth-child(even) {
  background: rgba(204, 204, 204, 0.22);
}
.content table tbody tr:nth-child(odd) {
  background: #FFFFFF;
}
.content table tbody tr th, .content table tbody tr td {
  border: 1px solid rgba(204, 204, 204, 0.52);
  text-align: left;
  padding: 10px 15px;
  line-height: 1.2;
  font-weight: 300;
}
.content table tfoot tr th, .content table tfoot tr td {
  border: 1px solid rgba(204, 204, 204, 0.52);
  text-align: left;
  padding: 10px 15px;
  line-height: 1.2;
  font-weight: 300;
}
.content .lines.highlight td.line-data {
  border: none;
  line-height: 1.4;
}
.content dl dt {
  font-weight: 600;
}
.content dl dd {
  margin: 5px 10px 15px 45px;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  line-height: 24px;
}
.content ul, .content ol {
  list-style-type: inherit;
}
.content ul li, .content ol li {
  margin-bottom: 12px;
}
.content ul ul, .content ul ol, .content ol ul, .content ol ol {
  margin-bottom: 20px;
}
.content ul ul ul, .content ul ul ul, .content ul ol ul, .content ul ol ul, .content ol ul ul, .content ol ul ul, .content ol ol ul, .content ol ol ul {
  margin-bottom: 20px;
}
.content ul ul ul ul, .content ul ul ul ol, .content ul ul ul ul, .content ul ul ul ol, .content ul ol ul ul, .content ul ol ul ol, .content ul ol ul ul, .content ul ol ul ol, .content ol ul ul ul, .content ol ul ul ol, .content ol ul ul ul, .content ol ul ul ol, .content ol ol ul ul, .content ol ol ul ol, .content ol ol ul ul, .content ol ol ul ol {
  margin-bottom: 20px;
}
.content address {
  margin-bottom: 20px;
  line-height: 1.6;
  font-style: italic;
}
.content code {
  padding: 2px 8px;
  font-size: 90%;
  color: rgba(51, 51, 51, 0.84);
  border-radius: 4px;
}
.content pre {
  display: block;
  padding: 20px 25px;
  margin: 0 0 20px;
  font-size: 15px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.95);
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F3F3F3;
  border: 1px solid rgba(204, 204, 204, 0.3);
  border-radius: 4px;
}
.content img {
  max-width: 100%;
  height: auto;
}
.content ul.resource {
  margin: -25px 0 20px;
  line-height: 1;
  font-size: 15px;
}
.content ul.resource li {
  line-height: 20px;
  margin: 0;
}
.content iframe {
  width: 100%;
  min-height: 350px;
}
.content button {
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 5px;
  background: #3498DB;
  color: #FFFFFF;
  font-weight: 500;
  border: none;
  outline: none;
  box-shadow: 3px 3px 5px rgba(215, 215, 215, 0.94);
}
.content .btn {
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 5px;
  background: #3498DB;
  color: #FFFFFF;
  font-weight: 500;
  border: none;
  outline: none;
  box-shadow: 3px 3px 5px rgba(215, 215, 215, 0.94);
}

.edit_link {
  font-weight: 300;
  font-size: 16px;
}
.edit_link i {
  padding-right: 10px;
  font-size: 15px;
}

/* --------------------------------------------------------------
    COMPONENT WIDGET
-------------------------------------------------------------- */
.widget {
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  box-shadow: 0px 1px #F6F8F8;
  padding-top: 15px;
  font-weight: 300;
}
.widget:last-child {
  box-shadow: none;
}
.widget ul {
  margin: 0;
  padding: 0;
}
.widget ul li {
  line-height: 20px;
}
.widget a {
  font-weight: 300;
}

.widget-title {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 35px;
  padding: 0;
}
.widget-title:after {
  position: absolute;
  content: '';
  background: #3498DB;
  width: 15%;
  height: 3px;
  bottom: -15px;
  left: 0;
}

.widget_archive ul li, .widget_recent_comments ul li, .widget_meta ul li, .widget_nav_menu ul li, .widget_pages ul li, .widget_recent_entries ul li {
  border-bottom: 1px solid rgba(204, 204, 204, 0.29);
  padding: 12px 0;
  margin: 0;
}
.widget_archive ul li:last-child, .widget_recent_comments ul li:last-child, .widget_meta ul li:last-child, .widget_nav_menu ul li:last-child, .widget_pages ul li:last-child, .widget_recent_entries ul li:last-child {
  border-bottom: none;
}
.widget_archive ul li a, .widget_recent_comments ul li a, .widget_meta ul li a, .widget_nav_menu ul li a, .widget_pages ul li a, .widget_recent_entries ul li a {
  line-height: 20px;
}

/* --------------------------------------------------------------
    WIDGET CATEGORIES
-------------------------------------------------------------- */
.widget_categories ul li {
  margin: 0;
  padding: 0;
}
.widget_categories ul li:last-child a {
  border-bottom: none;
}
.widget_categories ul li a {
  font-size: 16px;
  display: block;
  padding: 12px 0px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.29);
  text-transform: capitalize;
}

/* --------------------------------------------------------------
    WIDGET TEXT
-------------------------------------------------------------- */
.textwidget p {
  line-height: 22px;
}

/* --------------------------------------------------------------
    WIDGET ARCHIVE
-------------------------------------------------------------- */
/* --------------------------------------------------------------
    RECENT COMMENT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
    RECENT META
-------------------------------------------------------------- */
/* --------------------------------------------------------------
    RECENT META
-------------------------------------------------------------- */
/* --------------------------------------------------------------
    RECENT META
-------------------------------------------------------------- */
/* --------------------------------------------------------------
    RECENT ENTRIES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
    TAG CLOUD
-------------------------------------------------------------- */
.tagcloud ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tagcloud ul li {
  display: inline-block;
  margin: 3px 0;
  padding: 0;
}
.tagcloud ul li a {
  display: inline-block;
  color: #3498DB;
  padding: 8px 10px;
  text-transform: uppercase;
  border: 1px solid #3498DB;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.tagcloud ul li a:hover {
  background: #3498DB;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* --------------------------------------------------------------
    Search Widget Style
-------------------------------------------------------------- */
.sf-sidebar {
  width: 100%;
  position: relative;
}
.sf-sidebar .search-field {
  border-right: none;
  border-top: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  outline: none;
  padding: 10px 15px;
  width: 80%;
  margin: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.sf-sidebar .search-field:focus, .sf-sidebar .search-field:active {
  border-right: none;
  border-top: 1px solid #3498DB;
  border-left: 1px solid #3498DB;
  border-bottom: 1px solid #3498DB;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sf-sidebar .search-submit {
  position: absolute;
  right: 0;
  border: 1px solid transparent;
  outline: none;
  padding: 10px 15px;
  margin: 0;
  color: #FFFFFF;
  z-index: 10;
  height: 100%;
  width: 20%;
  min-width: 50px;
  background: transparent;
}
.sf-sidebar span {
  position: absolute;
  color: #FFFFFF;
  z-index: 9;
  line-height: 50px;
  width: 20%;
  height: 100%;
  cursor: pointer;
  background: #3498DB;
}
.sf-sidebar span .icon-search:before {
  position: absolute;
  line-height: 45px;
  width: 100%;
  text-align: center;
}

.search-field::-webkit-input-placeholder {
  color: #dadada;
}

.search-field:-moz-placeholder {
  color: #dadada;
}

.search-field::-moz-placeholder {
  color: #dadada;
}

.search-field:-ms-input-placeholder {
  color: #dadada;
}

/* --------------------------------------------------------------
    WIDGET CALENDAR
-------------------------------------------------------------- */
.widget_calendar caption {
  padding: 8px 0;
  color: #3498DB;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.widget_calendar #today {
  background: rgba(30, 129, 213, 0.77);
  color: #FFF;
  border-radius: 5px;
  font-weight: 400;
}
.widget_calendar #today a {
  color: #FFFFFF;
}
.widget_calendar #wp-calendar {
  width: 100%;
}
.widget_calendar #wp-calendar thead tr th {
  padding: 10px 0;
  text-align: center;
  color: #2098D8;
  font-weight: 400;
}
.widget_calendar #wp-calendar tbody tr td {
  padding: 10px 0;
  text-align: center;
}
.widget_calendar #wp-calendar tbody tr td a {
  font-weight: 800;
}
.widget_calendar #wp-calendar tfoot tr td {
  padding: 10px 0;
  text-align: center;
}
.widget_calendar #wp-calendar tfoot tr #prev a, .widget_calendar #wp-calendar tfoot tr #next a {
  font-weight: 400;
}

/* --------------------------------------------------------------
    Component
-------------------------------------------------------------- */
p {
  padding-bottom: 15px;
  line-height: 30px;
}

.site-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(212, 212, 212, 0.63);
}
.site-title a {
  color: rgba(52, 152, 219, 0.79);
  position: relative;
  top: 5px;
}

/* --------------------------------------------------------------
    Header Nav
-------------------------------------------------------------- */
#header {
  background: #FFFFFF;
  color: #3498DB;
  width: 100%;
  box-shadow: 0px 0px 6px 2px #EAEAEA;
  margin-bottom: 2px;
}

#nav {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
#nav h1 {
  margin: 0;
  line-height: 2.2;
  text-transform: uppercase;
  font-size: 34px;
  cursor: pointer;
}
#nav h1 a {
  color: #3498DB;
}
#nav .nav-menu {
  color: #FFFFFF;
}
#nav .nav-menu > li {
  margin: 0;
  padding: 0;
}
#nav .nav-menu > li > a {
  font-weight: 300;
  color: #3498DB;
  margin: 0;
  padding: 0 20px;
  text-transform: uppercase;
  line-height: 75px;
  border-left: 1px solid #F6F8F8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#nav .nav-menu > li > a:hover, #nav .nav-menu > li > a:focus, #nav .nav-menu > li > a:active {
  background-color: #308DCB;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#nav .nav .open > a, #nav .nav .open > a:hover, #nav .nav .open > a:focus {
  background-color: #308DCB;
  border-color: transparent;
  color: #fff;
}

.navbar-nav > li > .dropdown-menu {
  border-radius: none;
  box-shadow: none;
  padding: 0;
}

.navbar-nav .dropdown-menu {
  border: none;
  box-shadow: none;
  padding: 0;
  background: #3498DB;
  border-radius: 0;
}
.navbar-nav .dropdown-menu > li {
  padding: 0;
  margin: 0 0;
  background: #3498DB;
}
.navbar-nav .dropdown-menu > li > a {
  color: #FFFFFF;
  padding: 12px 40px 12px 15px;
  font-size: 18px;
  font-weight: 300;
}
.navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus, .navbar-nav .dropdown-menu > li > a:active {
  background: #308DCB;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar-nav ul .dropdown-menu {
  margin-top: -45px !important;
}

.navbar-toggle {
  margin-top: 15px;
  border: 1px solid #3498DB;
}

.navbar-toggle .icon-bar {
  background: #3498DB;
  width: 24px;
}

@media screen and (max-width: 800px) {
  #nav .nav-menu > li > a {
    font-size: 16px;
    padding: 0 15px;
  }

  #nav h1 {
    line-height: 1.8;
  }
}
.sb-search {
  position: relative;
  margin-top: 10px;
  width: 0%;
  min-width: 60px;
  height: 60px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}

.sb-search-input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 100%;
  height: 60px;
  margin: 0;
  z-index: 10;
  padding: 20px 65px 20px 20px;
  font-family: inherit;
  font-size: 20px;
  color: #2c3e50;
}

input[type="search"].sb-search-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.sb-search-input::-webkit-input-placeholder {
  color: #efb480;
}

.sb-search-input:-moz-placeholder {
  color: #efb480;
}

.sb-search-input::-moz-placeholder {
  color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
  color: #efb480;
}

.sb-icon-search,
.sb-search-submit {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.sb-search-submit {
  background: #fff;
  /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.sb-icon-search {
  color: #fff;
  background: #e67e22;
  z-index: 90;
  font-size: 22px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
  width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: #da6d0d;
  color: #fff;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}

/* --------------------------------------------------------------
      Sidebar
-------------------------------------------------------------- */
#sidebar {
  padding-left: 25px;
}
#sidebar .category ul {
  list-style-type: none;
  padding: 20px 0;
  margin: 0;
}

/* End Content */
/* --------------------------------------------------------------
    Footer
-------------------------------------------------------------- */
#footer {
  padding: 40px 0 20px;
  background: #FFFFFF;
  color: #3498DB;
  text-align: center;
  font-size: 14px;
  border-top: 5px solid rgba(52, 152, 219, 0.42);
}
#footer h1 {
  font-weight: 800;
}
#footer .social-list {
  margin: 20px auto 15px;
}
#footer .social-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer .social-list ul li {
  display: inline-block;
  padding: 15px 0;
  margin: 0;
}
#footer .social-list ul li a {
  padding: 20px;
  color: #3498DB;
}
#footer .social-list ul li a i {
  font-size: 30px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#footer .social-list ul li a i.icon-facebook:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #3B5998;
}
#footer .social-list ul li a i.icon-twitter:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #55ACEE;
}
#footer .social-list ul li a i.icon-googleplus:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #CC3732;
}
#footer .social-list ul li a i.icon-wordpress:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #21759B;
}
#footer .social-list ul li a i.icon-github3:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #171515;
}
#footer .nav-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer .nav-footer ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#footer .nav-footer ul li a {
  display: inline-block;
  color: #3498DB;
  padding: 5px;
  font-weight: 400;
}
#footer .nav-footer ul li a:hover {
  color: #333333;
}
#footer .copyright p {
  font-weight: 300;
  padding: 0;
  color: rgba(51, 51, 51, 0.68);
  margin: 0;
}
#footer .copyright p a {
  color: #0056FF;
}
#footer .copyright p a:hover {
  color: #308DCB;
}

/* --------------------------------------------------------------
    Back To Top Style
-------------------------------------------------------------- */
.cd-top {
  display: inline-block;
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 10;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  line-height: 54px;
  background: #3498DB;
  color: #FFFFFF;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  -ms-transition: opacity .3s 0s, visibility 0s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top:hover, .cd-top:focus, .cd-top:active {
  color: #FFFFFF;
}
.cd-top i {
  font-size: 20px;
}

.cd-top.di-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  -ms-transition: opacity .3s 0s, visibility 0s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-fade-out {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0.5;
}

.cd-top:hover {
  opacity: 1;
  background: #3498DB;
}

/* --------------------------------------------------------------
    BOOTSRTAP GRID CLEARFIX
-------------------------------------------------------------- */
/* clear first in row in ie 8 or lower */
.multi-columns-row .first-in-row {
  clear: left;
}

/* clear the first in row for any block that has the class "multi-columns-row" */
.multi-columns-row .col-xs-6:nth-child(2n + 3) {
  clear: left;
}

.multi-columns-row .col-xs-4:nth-child(3n + 4) {
  clear: left;
}

.multi-columns-row .col-xs-3:nth-child(4n + 5) {
  clear: left;
}

.multi-columns-row .col-xs-2:nth-child(6n + 7) {
  clear: left;
}

.multi-columns-row .col-xs-1:nth-child(12n + 13) {
  clear: left;
}

@media (min-width: 768px) {
  /* reset previous grid */
  .multi-columns-row .col-xs-6:nth-child(2n + 3) {
    clear: none;
  }

  .multi-columns-row .col-xs-4:nth-child(3n + 4) {
    clear: none;
  }

  .multi-columns-row .col-xs-3:nth-child(4n + 5) {
    clear: none;
  }

  .multi-columns-row .col-xs-2:nth-child(6n + 7) {
    clear: none;
  }

  .multi-columns-row .col-xs-1:nth-child(12n + 13) {
    clear: none;
  }

  /* clear first in row for small columns */
  .multi-columns-row .col-sm-6:nth-child(2n + 3) {
    clear: left;
  }

  .multi-columns-row .col-sm-4:nth-child(3n + 4) {
    clear: left;
  }

  .multi-columns-row .col-sm-3:nth-child(4n + 5) {
    clear: left;
  }

  .multi-columns-row .col-sm-2:nth-child(6n + 7) {
    clear: left;
  }

  .multi-columns-row .col-sm-1:nth-child(12n + 13) {
    clear: left;
  }
}
@media (min-width: 992px) {
  /* reset previous grid */
  .multi-columns-row .col-sm-6:nth-child(2n + 3) {
    clear: none;
  }

  .multi-columns-row .col-sm-4:nth-child(3n + 4) {
    clear: none;
  }

  .multi-columns-row .col-sm-3:nth-child(4n + 5) {
    clear: none;
  }

  .multi-columns-row .col-sm-2:nth-child(6n + 7) {
    clear: none;
  }

  .multi-columns-row .col-sm-1:nth-child(12n + 13) {
    clear: none;
  }

  /* clear first in row for medium columns */
  .multi-columns-row .col-md-6:nth-child(2n + 3) {
    clear: left;
  }

  .multi-columns-row .col-md-4:nth-child(3n + 4) {
    clear: left;
  }

  .multi-columns-row .col-md-3:nth-child(4n + 5) {
    clear: left;
  }

  .multi-columns-row .col-md-2:nth-child(6n + 7) {
    clear: left;
  }

  .multi-columns-row .col-md-1:nth-child(12n + 13) {
    clear: left;
  }
}
@media (min-width: 1200px) {
  /* reset previous grid */
  .multi-columns-row .col-md-6:nth-child(2n + 3) {
    clear: none;
  }

  .multi-columns-row .col-md-4:nth-child(3n + 4) {
    clear: none;
  }

  .multi-columns-row .col-md-3:nth-child(4n + 5) {
    clear: none;
  }

  .multi-columns-row .col-md-2:nth-child(6n + 7) {
    clear: none;
  }

  .multi-columns-row .col-md-1:nth-child(12n + 13) {
    clear: none;
  }

  /* clear first in row for large columns */
  .multi-columns-row .col-lg-6:nth-child(2n + 3) {
    clear: left;
  }

  .multi-columns-row .col-lg-4:nth-child(3n + 4) {
    clear: left;
  }

  .multi-columns-row .col-lg-3:nth-child(4n + 5) {
    clear: left;
  }

  .multi-columns-row .col-lg-2:nth-child(6n + 7) {
    clear: left;
  }

  .multi-columns-row .col-lg-1:nth-child(12n + 13) {
    clear: left;
  }
}
/*
 You probably do not need to edit this at all.

 Add some SmartMenus required styles not covered in Bootstrap 3's default CSS.
 These are theme independent and should work with any Bootstrap 3 theme mod.
*/
/* sub menus arrows */
.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow {
  position: static;
  margin-top: 0;
  margin-right: 0;
  margin-left: 6px;
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px dashed transparent;
  border-bottom: 4px dashed transparent;
  border-left: 4px dashed transparent;
}

.navbar-fixed-bottom .sub-arrow {
  margin-top: -5px;
  border-top: 4px dashed transparent;
  border-bottom: 4px solid;
}

.navbar-nav ul .sub-arrow {
  position: absolute;
  right: 0;
  margin-top: 6px;
  margin-right: 15px;
  border-top: 4px dashed transparent;
  border-bottom: 4px dashed transparent;
  border-left: 4px solid;
}

.navbar-nav ul a.has-submenu {
  padding-right: 30px;
}

/* scrolling arrows for tall menus */
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
  position: absolute;
  display: none;
  visibility: hidden;
  height: 20px;
  overflow: hidden;
  text-align: center;
}

.navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow {
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 7px dashed transparent;
  border-right: 7px dashed transparent;
  border-bottom: 7px solid;
  border-left: 7px dashed transparent;
}

.navbar-nav span.scroll-down-arrow {
  top: 6px;
  border-top: 7px solid;
  border-right: 7px dashed transparent;
  border-bottom: 7px dashed transparent;
  border-left: 7px dashed transparent;
}

/* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
.navbar-nav .collapsible ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul .dropdown-menu .dropdown-header {
  padding-left: 35px;
}

.navbar-nav .collapsible ul ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul ul .dropdown-menu .dropdown-header {
  padding-left: 45px;
}

.navbar-nav .collapsible ul ul ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul ul ul .dropdown-menu .dropdown-header {
  padding-left: 55px;
}

.navbar-nav .collapsible ul ul ul ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul ul ul ul .dropdown-menu .dropdown-header {
  padding-left: 65px;
}

/* fix SmartMenus sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
.navbar-nav .dropdown-menu > li > a {
  white-space: normal;
}

.navbar-nav ul.sm-nowrap > li > a {
  white-space: nowrap;
}

/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
  left: 0;
  right: auto;
}

/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
.navbar-nav .collapsible ul {
  display: none;
  position: static !important;
  top: auto !important;
  left: auto !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: auto !important;
  min-width: 0 !important;
  max-width: none !important;
}

.navbar-nav .collapsible ul.sm-nowrap > li > a {
  white-space: normal;
}

.navbar-nav .collapsible iframe {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* --------------------------------------------------------------
    Responsive
-------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  #content-home .posts li.item,
  #content-home .posts .item.item-sticky {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #content-home .posts li.item {
    margin: 0px 15px 30px 15px;
  }
}
@media screen and (max-width: 768px) {
  #sidebar-home {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 640px) {
  #content-home .posts li.item {
    margin: 0px 12px 30px;
  }
}
@media screen and (max-width: 600px) {
  #content-home .posts li.item {
    margin: 0px 0px 30px;
  }

  .custom-pagination {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .custom-pagination {
    margin-bottom: 30px;
  }

  .custom-pagination span,
  .custom-pagination ul {
    float: none;
  }

  .custom-pagination ul {
    margin-top: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
