/* --------------------------------------------------------------
    Footer
-------------------------------------------------------------- */
#footer{
  padding: 40px 0 20px;
  background: $w;
  color: $main-c;
  text-align: center;
  font-size: 14px;
  border-top: 5px solid rgba(52, 152, 219, 0.42);

  h1{
    font-weight: 800;
  }

  .social-list{
    margin: 20px auto 15px;

    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;

      li{
        display: inline-block;
        padding: 15px 0;
        margin: 0;

        a{
          padding: 20px;
          color: $main-c;

          i{
            font-size: 30px;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
          }

          i.icon-facebook:hover{
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            color: $facebook;
          }
          i.icon-twitter:hover{
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            color: $twitter;
          }
          i.icon-googleplus:hover{
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            color: $google;
          }
          i.icon-wordpress:hover{
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            color: $wordpress;
          }
          i.icon-github3:hover{
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            color: $github;
          }
        }
      }
    }
  }

  .nav-footer{

    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;

      li{
        display: inline-block;
        padding: 0;
        margin: 0;

        a{
          display: inline-block;
          color: $main-c;
          padding: 5px;
          font-weight: 400;

          &:hover{
            color: $b;
          }
        }
      }
    }
  }

  .copyright{
    p{
      font-weight: 300;
      padding: 0;
      color: rgba(51, 51, 51, 0.68);
      margin: 0;
      a{
        color: #0056FF;

        &:hover{
          color: $hover;
        }
      }
    }
  }
}

/* --------------------------------------------------------------
    Back To Top Style
-------------------------------------------------------------- */
.cd-top{
  display: inline-block;
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 10;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  line-height: 54px;
  background: $main-c;
  color: $w;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  -ms-transition: opacity .3s 0s, visibility 0s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;

  &:hover, &:focus, &:active{
    color: $w;
  }

  i{
      font-size: 20px;
  }
}

.cd-top.di-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover{
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  -ms-transition: opacity .3s 0s, visibility 0s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-is-visible{
  visibility: visible;
  opacity: 1;
}

.cd-fade-out{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0.5
}

.cd-top:hover{
  opacity: 1;
  background: $main-c;
}

