/* --------------------------------------------------------------
      Main Style
-------------------------------------------------------------- */
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html, body{
  position: relative;
  padding: 0;
  margin: 0;
  text-rendering: optimizelegibility;
}

html{
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  height: 100%;

  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}


/* --------------------------------------------------------------
      3 - Link
-------------------------------------------------------------- */
a, a:visited {
  text-decoration: none;
  outline: 0;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}
a:hover, a:focus {
    color: $main-c;
    text-decoration: none;
    outline: 0 none;
}
p a, p a:visited { line-height: inherit; }


/* --------------------------------------------------------------
      4 - List
-------------------------------------------------------------- */
ul, ol { margin-bottom: 24px; margin-top: 12px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { }
li p { }
