////// Variabel Component Style //////


// Color

$main-c: #3498DB;
$secondary-c: #59ABE3;
$color-content: rgba(55, 55, 55, 1);
$hover: #308DCB;

$bg: #f6f8f8;
$b-s:  3px 3px 6px 0px rgba(221, 221, 221, 0.71);


// Standart Color
$w: #FFFFFF;
$b: #333333;


// Brand Logo Color
$facebook: #3B5998;
$twitter: #55ACEE;
$google: #CC3732;
$github: #171515;
$wordpress: #21759B;
