/* --------------------------------------------------------------
    Wordpress Style
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid rgba(239, 239, 239, 1);
    max-width: 96%; /* Image does not overflow the content area */
    padding: 0 0 8px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.wp-caption-text{
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 8px;
}
.sticky{
    display: block;
}
.gallery-caption{
    display: block;
}
.bypostauthor{
    display: block;
}

.gallery {
  padding: 0;
  clear: both;
  margin: 0 auto 18px;

    &::after, &::before{
      content: '';
      clear: both;
      visibility: hidden;
      display: block;
      height: 0;
    }

    .gallery-item{
      float: left;
      padding: 2px;
      position: relative;

      img{
        width: 100%;
      }

      &::before, &::after{
        content: '';
        clear: both;
        visibility: hidden;
        display: block;
        height: 0;
      }

      figcaption{
        display: block;
        opacity: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: $b;
        background: rgba(251, 251, 251, 0.80);
        font-weight: 400;
        text-align: center;
        font-size: 12px;
        @include transition(all 0.32s ease);
      }

      &:hover figcaption{
        @include transition(all 0.32s ease);
        opacity: 1;
      }
    }

}
.gallery-icon{

}
.gallery-columns-0 .gallery-item {
    width: 100%;
}
.gallery-columns-1 .gallery-item {
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-3 .gallery-item {
    width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery-columns-5 .gallery-item {
    width: 20%;
}

@media screen and(max-width: 600px){
  .gallery-columns-3 .gallery-item,
  .gallery-columns-4 .gallery-item,
  .gallery-columns-5 .gallery-item {
      width: 50%;
  }
}

@media screen and(max-width: 480px){
  .gallery-columns-3 .gallery-item,
  .gallery-columns-4 .gallery-item,
  .gallery-columns-5 .gallery-item {
      width: 100%;
  }
}

