

/* --------------------------------------------------------------
    WIDGET CALENDAR
-------------------------------------------------------------- */
.widget_calendar{

  caption{
    padding: 8px 0;
    color: $main-c;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  #today{
    background: rgba(30, 129, 213, 0.77);
    color: #FFF;
    border-radius: 5px;
    font-weight: 400;

    a{
      color: $w;
    }
  }

  #wp-calendar{
    width: 100%;

    thead{

      tr{

        th{
          padding: 10px 0;
          text-align: center;
          color: #2098D8;
          font-weight: 400;
        }
      }
    }

    tbody{

      tr{

        td{
          padding: 10px 0;
          text-align: center;

          a{
            font-weight: 800;
          }
        }
      }
    }

    tfoot{

      tr{

        td{
          padding: 10px 0;
          text-align: center;
        }

        #prev a, #next a{
          font-weight: 400;
        }
      }
    }
  }
}
