/* --------------------------------------------------------------
    Search Widget Style
-------------------------------------------------------------- */
.sf-sidebar{
  width: 100%;
  position: relative;

  .search-field{
    border-right: none;
    border-top: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    outline: none;
    padding: 10px 15px;
    width: 80%;
    margin: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    &:focus,
    &:active{
      border-right: none;
      border-top: 1px solid $main-c;
      border-left: 1px solid $main-c;
      border-bottom: 1px solid $main-c;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

  }

  .search-submit{
    position: absolute;
    right: 0;
    border: 1px solid transparent;
    outline: none;
    padding: 10px 15px;
    margin: 0;
    color: $w;
    z-index: 10;
    height: 100%;
    width: 20%;
    min-width: 50px;
    background: transparent;
  }

  span{
    position: absolute;
    color: $w;
    z-index: 9;
    line-height: 50px;
    width: 20%;
    height: 100%;
    cursor: pointer;
    background: $main-c;

    .icon-search:before{
      position: absolute;
      line-height: 45px;
      width: 100%;
      text-align: center;
    }
  }
}
.search-field::-webkit-input-placeholder {
  color: rgba(218, 218, 218, 1);
}

.search-field:-moz-placeholder {
  color: rgba(218, 218, 218, 1);
}

.search-field::-moz-placeholder {
  color: rgba(218, 218, 218, 1);
}

.search-field:-ms-input-placeholder {
  color: rgba(218, 218, 218, 1);
}
