

/* --------------------------------------------------------------
    TAG CLOUD
-------------------------------------------------------------- */
.tagcloud{

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
      margin: 3px 0;
      padding: 0;

      a{
        display: inline-block;
        color: $main-c;
        padding: 8px 10px;
        text-transform: uppercase;
        border: 1px solid $main-c;
        @include transition(all 0.3s);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;

        &:hover{
          background: $main-c;
          color: $w;
          @include transition(all 0.3s);
        }
      }
    }
  }
}
