/* --------------------------------------------------------------
    COMPONENT WIDGET
-------------------------------------------------------------- */
.widget{
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  box-shadow: 0px 1px #F6F8F8;
  padding-top: 15px;
  font-weight: 300;

  &:last-child{
    box-shadow: none;
  }

  ul{
    margin: 0;
    padding: 0;

    li{
      line-height: 20px;
    }
  }

  a{
    font-weight: 300;
  }
}

.widget-title{
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 35px;
  padding: 0;

  &:after{
    position: absolute;
    content: '';
    background: $main-c;
    width: 15%;
    height: 3px;
    bottom: -15px;
    left: 0;
  }
}


// Style Widget List
.widget_archive
{

  ul{

    li{
        border-bottom: 1px solid rgba(204, 204, 204, 0.29);
        padding: 12px 0;
        margin: 0;

        &:last-child{
          border-bottom: none;
        }

      a{
        line-height: 20px;
      }
    }
  }
}



/* --------------------------------------------------------------
    WIDGET CATEGORIES
-------------------------------------------------------------- */
.widget_categories{

  ul{

    li{
      margin: 0;
      padding: 0;

      &:last-child a{
        border-bottom: none;
      }

      a{
        font-size: 16px;
        display: block;
        padding: 12px 0px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.29);
        text-transform: capitalize;
      }
    }
  }
}



/* --------------------------------------------------------------
    WIDGET TEXT
-------------------------------------------------------------- */
.textwidget{

  p{
    line-height: 22px;
  }
}


/* --------------------------------------------------------------
    WIDGET ARCHIVE
-------------------------------------------------------------- */
.widget_archive{
  @extend .widget_archive;
}


/* --------------------------------------------------------------
    RECENT COMMENT
-------------------------------------------------------------- */
.widget_recent_comments{
  @extend .widget_archive;
}


/* --------------------------------------------------------------
    RECENT META
-------------------------------------------------------------- */
.widget_meta{
  @extend .widget_archive;
}


/* --------------------------------------------------------------
    RECENT META
-------------------------------------------------------------- */
.widget_nav_menu{
  @extend .widget_archive;
}


/* --------------------------------------------------------------
    RECENT META
-------------------------------------------------------------- */
.widget_pages{
  @extend .widget_archive;
}


/* --------------------------------------------------------------
    RECENT ENTRIES
-------------------------------------------------------------- */
.widget_recent_entries{
  @extend .widget_archive;
}
