/* --------------------------------------------------------------
    Author Post Info
-------------------------------------------------------------- */

.author_post_info{
  padding: 30px 0 20px;
  display: block;

  img.avatar{
    float: left;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 3px solid #fff;
  }

  .des_author {
    display: block;
    padding-left: 115px;
    margin-top: -5px;

    span{
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      color: rgba(51, 51, 51, 0.59);
    }

    span.name_author_post{
      color: $main-c;
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;
      padding-top: 5px;
    }

    p.desc_author_post{
      line-height: 20px;
      font-size: 16px;
      font-weight: 300;
      padding: 2px 0 20px 0px;
      margin: 0;
    }
  } //.des_author

  .author_follow{
    .author_follow_twitter,
    .author_follow_google,
    .author_follow_facebook{
      border: none;
      outline: none;
      padding:6px 15px 10px;
      margin: 3px 0;
      color: $w;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      font-weight: 400;
      line-height: 20px;
      font-size: 15px;
      text-transform: uppercase;
      @include transition(all 0.32s ease);

      i{
        padding-right: 10px;
        font-weight: 400;
        position: relative;
        top: 4px;
        font-size: 18px;
      }
    }

    .author_follow_twitter{
      background: $twitter;
    }
    .author_follow_google{
      background: $google;
    }
    .author_follow_facebook{
      background: $facebook;
    }

    .author_follow_twitter:hover,
    .author_follow_google:hover,
    .author_follow_facebook:hover{
      @include transform(translateY(-3px));
      @include transition(all 0.32s ease);
    }



  }// .author_follow
}// .author_post_info
