/* --------------------------------------------------------------
    COMMENT STYLE
-------------------------------------------------------------- */

#comments{
  margin-top: 20px;
  margin-right: 30px;
  border-top: 1px solid rgba(238, 238, 238, 0.65);
}

ol.commentlist {
  list-style: none;
  margin: 0;
  padding: 30px;
  text-indent: 0;

  li{
    padding: 0;

    .comment-meta{

      img{
        float: left;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        border: 1px solid #fff;
      }

      .comment-meta-content{
        line-height: 2;

        cite{
          font-weight: 300;
          padding-left: 80px;
          display:block;
          margin-bottom: -12px;
          font-style: normal;

          .fn{
            font-weight: 600;
          }
        }

        time{
          padding-left: 20px;
          font-weight: 300;
        }
      }
    }
  }

  article.comment{
    border-bottom: 1px solid #eee;
    padding-bottom: 40px;

    // &:last-child{
    //   border-bottom: none;
    // }
  }

  ol.children{
    list-style-type: none;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .comment-content{
    padding: 20px 0 0;
    clear: both;

  p{
      font-weight: 300;
    }
  }

  .edit_link{
    margin: 0;
    font-size: 15px;
  }

  .replay{
    font-size: 14px;
    font-weight: 300;
    background: $main-c;
    width: 70px;
    padding: 4px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    i, a{
      color: $w;
    }
  }

  span.comment-author {
    font-size: 12px;
    text-transform: uppercase;
    background: #3498DB;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 6px;
    color: #fff;
    font-weight: 400;
    position: relative;
    bottom: 2px;
    left: 5px;
  }

}

#respond h3{
  // padding-top: 20px;
}
