

/* --------------------------------------------------------------
    Password Post Design
-------------------------------------------------------------- */
.post-password-form{

  label{
    font-weight: 400;
    font-size: 28px;

    input[type="password"]{
      border-radius: 2px;
      border: 1px solid #CDCDCD;
      padding: 3px 15px;
      width: 350px;

      &:focus, &:active{
        border: 1px solid $main-c;
        outline: 0;
      }
    }
  }

  input[type="submit"]{
    border: none;
    padding: 8px 15px;
    vertical-align: top;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: $main-c;
    color: $w;

    &:active, &:focus{
      outline: none;
    }
  }
}


/* --------------------------------------------------------------
    Tags
-------------------------------------------------------------- */
.tags_post{
  margin: 0;
  padding: 30px 0;
  list-style-type: none;
  clear: both;

  h2.title_tags{
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 600;
  }

  li{
    display: inline-block;
    margin: 15px 2px 2px;
    padding: 0;

    a{
      display: inline-block;
      font-size: 15px;
      text-transform: uppercase;
      padding: 5px 10px;
      border: 1px solid $main-c;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      @include transition(all .3s ease);

      &:hover{
        @include transition(all .3s ease);
        background: $main-c;
        color: $w;
      }
    }
  }
}


/* --------------------------------------------------------------
    Image Caption
-------------------------------------------------------------- */

.wp-caption-text{
  font-size: 12px;
  padding-top: 10px;
}
