

/* --------------------------------------------------------------
    Comments Form Style
-------------------------------------------------------------- */

#commentform{
  font-weight: 300;
  font-size: 16px;

  p{
    padding: 5px 0;
    margin: 0;

     label{
      display: block;
      font-weight: 300;
      font-size: 18px;

    }

    input, textarea{
      border: 1px solid rgba(204, 204, 204, 0.72);
      padding: 8px 15px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      @include transition(all 0.3s);
      width: 65%;

      &:focus,
      &:active{
       border: 1px solid $main-c;
       outline: none;
       @include transition(all 0.3s);
      }
    }

    textarea{
      height: 250px;
      width: 100%;
    }
  }

  .comment-notes{
    padding-bottom: 20px;
  }

  .comment-form-author{

  }

  .comment-form-email{

  }

  .comment-form-url{

  }

  .comment-form-comment{

  }

  .form-allowed-tags{
    font-size: 14px;
    padding: 20px;
    margin: 15px 0 10px;
    background: rgba(204, 204, 204, 0.23);
    line-height: 22px;
    box-shadow: 2px 2px 4px 0px rgba(236, 236, 236, 1);
    code{
      background-color: transparent;
      color: $main-c;
    }
  }

  .form-submit{

    input{
      background: $main-c;
      color: $w;
      border: none;
      outline: none;
      width: auto;
      box-shadow: 3px 3px 6px 0px rgba(221, 221, 221, 0.71);
      font-weight: 400;

      &:focus,
      &:active{
        outline: none;
        border: none;
      }
    }
  }
}
