

/* --------------------------------------------------------------
    Post Navigation
-------------------------------------------------------------- */

.post_navigation{
  padding: 20px 15px 0;
  border-top: 1px solid #F3F3F3;
  margin-top: 30px;
  margin-right: 30px;

  .alignleft_post,
  .alignright_post{
    position: relative;
    text-align: center;

    i{
      font-weight: 300;
      color: rgba(51, 51, 51, 0.61);
      font-size: 32px;
    }
    span{
      display: inline-block;

      a{
        color: #3D3D3D;
        font-weight: 300;
      }

      &:hover a, &:hover i{
        color: $main-c;
      }
    }
  }

  .alignleft_post{
    i{
      float: left;
      padding-right: 5px;
    }
    span{
      display: inline-block;
    }
  }

  .alignright_post{

    i{
      float: right;
      padding-left: 15px;
    }
    span{
      display: inline-block;
    }
  }
}

