/* --------------------------------------------------------------
    CONTENT SINGLE PAGE
-------------------------------------------------------------- */
#content{
  padding:  60px 0 60px;
  background: #f6f8f8;


/* --------------------------------------------------------------
    Article
-------------------------------------------------------------- */
  .content-post{
    padding: 40px 40px 60px;
    background: $w;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
    box-shadow: $b-s;

    .post{
      padding-right: 30px;
      overflow: hidden;
    }

    .has-post-thumbnail{

      img.attachment-post-thumbnail{
        width: 100%;
        height: auto;
        border: 1px solid $w;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
      }
    }

    #sidebar-home{
      box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.04);
      border-radius: 0px;
      margin-left: -5px;
    }

    h2.post-title{
      font-weight: 600;
      color: rgba(51, 51, 51, 0.91);
      line-height: 32px;
      font-family: "Josefin Sans", sans-serif, arial;
      font-size: 3.2rem;
    }

    .meta-info{
      font-size: 15px;
      text-transform: uppercase;
      margin-top: -20px;
      padding-bottom: 30px;

      ul{
        margin: 0;
        padding: 0;
        display: inline-block;

        li{
          display: inline-block;
          margin: 10px 0 5px;
          padding-left: 15px;
          position: relative;
          font-weight: 300;
          font-size: 14px;

          i{
            color: #636363;
          }

          &::after{
            content: "";
            position: absolute;
            width: 1px;
            height: 12px;
            background: rgba(99, 99, 99, 0.64);
            right: -10px;
            top: 4px;
          }

          &:last-child::after{
            display: none;
          }

          &:nth-child(1){
            padding-left: 0px;
          }
        }
      }
    }

    hr{
      border-top: 1px solid rgba(232, 232, 232, 0.42);
    }
  }
}


/* --------------------------------------------------------------
    Post Format Video Style
-------------------------------------------------------------- */

.show_video{

  iframe, object{
    width: 100%;
    height: auto;
    min-height: 400px;
  }
}


/* --------------------------------------------------------------
    Post Format Image
-------------------------------------------------------------- */

.single-format-image #content .content-post .post{
  overflow: visible;
}

.single-format-image .content{
  overflow: hidden;
}

#content{

  .featured-image {
    position: relative;
    margin-bottom: 30px;

    &:hover .meta-info{
      @include transform(translateY(-20px));
    }

    img{
      width: 100%;
      height: auto;
      // margin: 0 -20px 0 -55px;
    }

    .meta-info{
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 25px;
      background: rgba(0, 0, 0, 0.60);
      color: #fff;
      @include transition(all 0.6s ease);

      .post-title{
        color: $w;
        padding: 0;
        margin: 0;
        text-transform: capitalize;
      }

      ul li {

        i, a{
          color: $w;
        }

      }
    }
  }
}

/* --------------------------------------------------------------
    Post Format Post Link
-------------------------------------------------------------- */
.link_preview{
  padding: 50px 20px 20px;
  margin-bottom: 20px;
  background: #67A8D7;
  border-radius: 3px;
  font-size: 28px;
  text-align: center;

  i{
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    color: #fff;
  }

  a{
    color: $w;
  }
}
