

/* --------------------------------------------------------------
    Single Sidebar
-------------------------------------------------------------- */
.single #content #sidebar-home{
   padding: 15px 15px 0px 40px;
   margin-left: -15px;
}
