/* --------------------------------------------------------------
    Typography Post
-------------------------------------------------------------- */
.content{
  font-size: 18px;
  font-weight: 300;

  b, strong{
    font-weight: 600;

  }
  // TITLE
  h1, h2, h3, h4, h5, h6{
    text-transform: capitalize;
    font-weight: 600;
    margin: 25px auto;
  }
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 24px;
  }
  h4{
    font-size: 18px;
  }
  h5{
    font-size: 16px;
  }
  h6{
    font-size: 14px;
  }

  // BLOCKQUOTE
  blockquote{
    padding: 10px 20px 10px 40px;
    margin: 0px 0 20px;
    font-size: 17.5px;
    border-left: 5px solid rgba(52, 152, 219, 0.53);
    font-style: italic;
    position: relative;

    p{
      line-height: 32px;
      font-size: 22px;
    }

    &::before{
      font-family: "icomoon";
      content: '\e676';
      position: absolute;
      font-size: 20px;
      top: -5px;
      left: 16px;
      font-weight: 400;
      color: rgba(51, 51, 51, 0.64);
    }
  }

  p{
    color: #333;
  }

  // TABLE
  table{
    // border: 1px solid rgba(204, 204, 204, 0.52);

    thead{
      background: rgba(204, 204, 204, 0.52);
      color: rgba(51, 51, 51, 0.89);

      tr{

        & > th, & > td{
          border: 1px solid rgba(204, 204, 204, 0.52);
          text-align: left;
          padding: 10px 15px;
          line-height: 1.2;
          font-weight: 600;
        }
      }
    }

    tbody{
      tr{

        &:nth-child(even){
          background: rgba(204, 204, 204, 0.22);
        }
        &:nth-child(odd){
          background: $w;
        }

        th, td{
          border: 1px solid rgba(204, 204, 204, 0.52);
          text-align: left;
          padding: 10px 15px;
          line-height: 1.2;
          font-weight: 300;
        }
      }
    }

    tfoot{
      tr{

        th, td{
          border: 1px solid rgba(204, 204, 204, 0.52);
          text-align: left;
          padding: 10px 15px;
          line-height: 1.2;
          font-weight: 300;
        }
      }
    }
  }

  // Error Gist Code
 .lines.highlight td.line-data {
    border: none;
    line-height: 1.4;
  }

  // DESCRIPTION LIST
  dl{
    dt{
      font-weight: 600;
    }
    dd{
      margin: 5px 10px 15px 45px;
      letter-spacing: 0.2px;
      word-spacing: 1px;
      line-height: 24px;
    }
  }

  // Unordered List
  ul, ol{
    list-style-type: inherit;

    li{
        margin-bottom: 12px;
    }

    ul, ol{
      margin-bottom: 20px;

      ul, ul{
        margin-bottom: 20px;

        ul, ol{

          margin-bottom: 20px;
        }
      }
    }
  }

  // ADDRESS
  address{
    margin-bottom: 20px;
    line-height: 1.6;
    font-style: italic;
  }

  // CODE
  code {
    padding: 2px 8px;
    font-size: 90%;
    color: rgba(51, 51, 51, 0.84);
    // background-color: rgba(149, 200, 233, 0.27);
    border-radius: 4px;
  }

  // PRE
  pre{
    display: block;
    padding: 20px 25px;
    margin: 0 0 20px;
    font-size: 15px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.95);
    word-break: break-all;
    word-wrap: break-word;
    background-color: #F3F3F3;
    border: 1px solid rgba(204, 204, 204, 0.3);
    border-radius: 4px;
  }

  // IMAGE
  img{
    max-width: 100%;
    height: auto;
  }

  // Resource
  ul.resource{
    margin: -25px 0 20px;
    line-height: 1;
    font-size: 15px;

    li{
      line-height: 20px;
      margin: 0;
    }
  }

  iframe{
    width: 100%;
    min-height: 350px;
  }

  button{
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    background: $main-c;
    color: $w;
    font-weight: 500;
    border: none;
    outline: none;
    box-shadow: 3px 3px 5px rgba(215, 215, 215, 0.94);
  }

  .btn{
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    background: $main-c;
    color: $w;
    font-weight: 500;
    border: none;
    outline: none;
    box-shadow: 3px 3px 5px rgba(215, 215, 215, 0.94);
  }

}
