/* --------------------------------------------------------------
    Login New Style SCSS
-------------------------------------------------------------- */

*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:after, *:before{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body{
  background: #2C3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a{
  color: #eee;
  text-decoration: none;
}

a:hover{

}

input{
  border: none;

}

.main-login{
  position: fixed;
  top: 38%;
  left: 42%;
  width: 400px;



  .login-branding{

  } //.login-branding

  .login-form{

  } //.login-form
} //.main-login


